@model RegNEWMVC.Models.MvcModel
@{
    ViewData["Title"] = "Create";
}

@using (Html.BeginForm())
{
<form asp-action="Create">

    <div class="row mb-2">
        <input type="hidden" asp-for="Id" class="form-control" />
        <div class="form-outline">
            <h1>
                <label>User Registration</label>
            </h1>
        </div>

        <div class="col">
            <div class="form-outline">

                <label>First name</label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-outline">

                <label>Last name</label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2"></div>

        <div class="col-md-6">
                    <div class="form-group">

                <label>Email</label>
                <input type="email" class="form-control" name="Email" id="frmEmail" placeholder="Your Email">
                <span asp-validation-for="Email" class="text-danger"></span>
 
            </div>
        </div>

        <div class="col">
            <div class="form-outline">

                <label>Date Of Birth</label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>

            </div>
        </div>
        <div class="row mb-2"></div>

        <div class="col">
            <div>
                <label>Department</label>
                <select class="form-control custom-select" id="frmDepartment" name="Department">
                    <option value="Select">--Select--</option>
                    <option value="IT">IT</option>
                    <option value="Management">Management</option>
                    <option value="Customer Support">Customer Support</option>
                    <option value="BPO">BPO</option>
                    <span asp-validation-for="Department" class="text-danger"></span>
 
                </select>
            </div>
        </div>

        <div class="col">
            <div>
                <label>Designation</label>
                <select class="form-control custom-select" id="frmDesignation" name="Designation">
                    <option value="Select">--Select--</option>
                    <option value="Tester">Tester</option>
                    <option value="Developer">Developer</option>
                    <option value="QA">QA</option>
                    <option value="HR">HR</option>
                    <span asp-validation-for="Designation" class="text-danger"></span>
 
                </select>
            </div>
        </div>

        <div class="row mb-2"></div>

        <div class="col">
            <div>
                <label>City</label>
                <select class="form-control custom-select" id="frmCity" name="City">
                    <option value="Select">--Select--</option>
                    <option value="Indore">Indore</option>
                    <option value="Bangalore">Bangalore</option>
                    <option value="Bhopal">Bhopal</option>
                    <option value="Delhi">Delhi</option>
                    <span asp-validation-for="City" class="text-danger"></span>
 
                </select>
            </div>
        </div>

        <div class="col">
            <div class="form-outline mb-4">
                <label>Contact No</label>
                <input asp-for="ContactNo" class="form-control" />
                <span asp-validation-for="ContactNo" class="text-danger"></span>
            </div>
        </div>


        <div class="row mb-2">
            <div class="col-md-10"></div>
            <div class="col-md-1">
            <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="col-md-1">
                    <input type="submit" value="Cancel" asp-action="Index" class="btn btn-secondary" />
            </div>
        </div>
    </div>
</form>
<div>
     <a asp-action="Index">Back to List</a>
</div>

@Html.ValidationSummary(true)
}